{
    "presets": ["react"],
    "plugins": [
        "transform-object-rest-spread"
    ],
    "env": {
        "development": {
            "presets": [[ "es2015", {modules:false} ], "react-hmre"],
        },
        "production": {
            "presets": [[ "es2015", {modules:false} ]],
            "plugins":[
                "transform-react-remove-prop-types",
                "dev-expression",
                "transform-react-inline-elements",
                "transform-react-constant-elements"
            ]
        }
    }
}
